$themecolor :#F0A986;
$buttoncolor : #D9654D;//
$backcolor : #D9CCC0;//イメージカラー
$selectcolor : #e6b422;//金色

@import "media-queries";

//多分そのうち要らなくなる。
@mixin line {
	margin-top : 1%;
}
@mixin margin {
	margin-top: 2%;
	margin-bottom :7%;
}
//初期設定。
html,body{
	width : 100%;
	height: 100%;
	background-color: $backcolor;
}

//ヘッダー
header{
	background-color: $themecolor;
	@include min-screen(320px){
	height : 12%;
	}
	@include min-screen(480px){
		height: 17%;
	}
	@include min-screen(600px){
		height : 12%;
	}
	@include min-screen(800px){
		height : 12%;
	}
	//ヘッダー内の一言コメント的なやつ
	#telop {
		@include line;
		font-size : 1.3em;
		text-align: center;

		@include min-screen(320px){
		padding-top : 1em;
	}
		@include min-screen(480px){
			padding-top: 0.5em;
		}
		// white-space: nowrap
	}
	//ログアウトボタンだったり戻るボタンだったりするやつ。
	#logout {
		font-size : 1.3em;
		height: 70%;
		margin-right: 3%;
		border-radius : 5px;
		background-color :$buttoncolor ;
		text-align: center;

		@include min-screen(320px){
			margin-top : 3%;
		}
		@include min-screen(480px){
			margin-top: 1%;
		}
		@include iphone5(randscape){
			margin-top : 2%;
		}
		@include min-screen(600px){
			margin-top :1%;
		}
		@include min-screen(600px){
			margin-top :2%;
		}
		@include min-screen(1024px){
			margin-top : 1%;
		}
	}

}
// ログイン関係
//　ログインフォームを囲む奴
.form-horizontal {
	margin:5% 0 5% 6%;

}
// フォームの一つを設定
.form-group {

	.log {
		@include min-screen(320px){
			margin-bottom: 10%;
		}
		@include min-screen(480px){
			margin-bottom:2%;
		}
		@include min-screen(600px){
			margin-bottom: 5%;
		}
		@include min-screen(768px){
			margin-bottom:5%;
		}
		@include min-screen(1024px){
			margin-left:7%;
		}
	}

}

// コンテンツ
.content {
	h1 {
		padding-left: 7%;
	}
	// カレンダーを表示するtable
	th {
		text-align: center;
	}

	table {
		margin-top : 3em;
		.select {
			background-color: $selectcolor;
		}
	}


	//ニュース
	.news{

		@include min-screen(320px){
		margin-top :10%;
		margin-bottom : 2%;
		padding-bottom:10%;
		}
		// ニュースのコンテンツを表示
		#status{
			text-align: center;
			border-radius:4px;
		}
	}


//
	.more{
		#date{
			// font-size: 50px;
		}
		#check{
			margin-top:3%;
			padding-top:2%;
		}
		#more_detail{
			margin-top:5%;
		}
		#entry {
			margin-top :30%;
		}
	}
// だれが入るか入力するアレ
	.incoming{
		margin-top:5%;
		margin-bottom: 10%;
	}
//　なにこれ…
	#subtitle {
		@include margin;
	}
	#set {
		@include margin;
	}
}
