@font-face {
  font-family: "foundation-icons";
  src: fontfiles("font/foundation-icons.ttf", "font/foundation-icons.woff", "font/foundation-icons.eot", "font/foundation-icons.svg");
}
/* line 12, ../sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
  background-color: #F4E9DF;
}

/* line 19, ../sass/style.scss */
.h1_padding {
  padding-top: 20px;
}

/* line 23, ../sass/style.scss */
table tr td {
  padding: 4% 0;
}

/* line 27, ../sass/style.scss */
.news_content {
  background-color: #66AEF3;
  font-size: 13px;
  margin-top: 3%;
}
