@font-face {
  font-family: "foundation-icons";
  src: fontfiles("font/foundation-icons.ttf", "font/foundation-icons.woff", "font/foundation-icons.eot", "font/foundation-icons.svg");
}
/* line 12, ../sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
  background-color: #F4E9DF;
}

/* line 19, ../sass/style.scss */
header {
  background-color: #8F776A;
  width: 100%;
}
/* line 23, ../sass/style.scss */
header #telop {
  color: #FFF;
  padding: 3px;
}
