$themecolor :#F0A986;
$buttoncolor : #D9654D;//
$backcolor : #D9CCC0;//イメージカラー
$selectcolor : #e6b422;//金色

@mixin line {
	margin-top  : 1%;
	font-size : 20px; 
}
		
html,body{
	width : 100%;
	height: 100%;
	background-color: $backcolor;
}


header{
	background-color: $themecolor;
	height : 12%;

	#telop {
		@include line; 
		float : left;
		text-align: center;
		// white-space: nowrap
	}
	#logout {
		@include line;
		float : right;
		height: 70%;
		margin-right: 3%;
		border-radius : 5px;
		background-color :$buttoncolor ;
		text-align: center;
	}
		
}

.content {
	h1 {
		padding-left: 7%;
	}
	th {
		text-align: center;
	}
	table {
		margin-top : 3em;
		.select {
			background-color: $selectcolor;
		}
	}
	.news{
		margin-top :2%;
		margin-bottom : 2%;
		padding-bottom:2%;
		#news_content{
			
			text-align: center;
		}
		#status{
			text-align: center;
			border-radius:4px;
		}
	}
	.more{
		#date{
			// font-size: 50px;
		}
		#check{
			margin-top:3%;
			padding-top:2%;
		}
		#more_detail{
			margin-top:5%;
		}
		#entry {
			margin-top :30%;
		}
	.incoming{
		border-top:10em;
	}
	}
	
}

