html, body {
  width: 100%;
  height: 100%;
  background-color: #d9ccc0; }

#header {
  background-color: #f0a986;
  height: 12%; }
#header #telop {
  margin-top: 1%;
  font-size: 20px;
  float: left; }
#header #logout {
  margin-top: 1%;
  font-size: 20px;
  float: right;
  height: 70%;
  margin-right: 3%;
  border-radius: 5px;
  background-color: #d9654d;
  text-align: center; }

.content h1 {
  padding-left: 7%; }
.content th {
  text-align: center; }
.content .news {
  margin: 10px 0 10px  0; }
.content .news #news_content {
  text-align: center; }
.content .news #status {
  text-align: center;
  border-radius: 4px; }
