$theme :#8F776A;//イメージカラー
$button: #66AEF3;//こーひーっぽいイロ
$back : #F4E9DF;//
$lava : #3F3E57;
$blueright :#66AEF3;
@import "compass";
@import "media-queries";


html,body {
  width :100%;
  height : 100%;
  background-color: $back ;
    position :relative;
    width:100%;
    height : 100%;
    .alert-box {
      display: none;
    }
      small.error{
        display :none;
      }


      .center {
        padding: 25px 0;
        text-align:center;
      }
      .top_padding{
        padding : 10px 0 0 5%;
      }
      //日付のあれ
      table tr td {
        padding : 4% 0 ;
      }
      //連絡事項の１単位
      .news {
        padding-bottom: 4%;
      }

      //連絡事項内容
      .news_content {
        font-size : 13px;
        margin-top: 9px;
      }
      //曜日の文字色
      #saturday{
        color : #003f8e;
      }
      #sunday{
        color : #C00;
      }
      @mixin black {
        color : #000;
      }
      #admin_login {
        background-color : #5C4B51;
      }


      //シフトで入ってる日のアレ
      #shift_in_allow{
          width: 0;
          height: 0;
          border-bottom: 10px solid #333;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          position:relative;
          top:-10px;
      }
      #shift_in {
        background-color : #333333;
        color : #FFFFFF;
        width: 100%;
        display: none;
      }
      //modalのcss
      .remodal {
        #select_start {
          margin : 70px 0;
        }
        .btns {

        }
      }
      #shift_selected {
        .selected_time {
          margin-top : 2%;
        }
      }
        #enter_submit {
          margin-top : 5%;
        }
        .users_list {
          padding : 20px 0 0 20px;
        }
#create_user {
  margin-top : 20px;
}

}

footer {
                  #limit_submit {
                      margin-top : 40%;
                  }
}
